/* 헤더 전체 영역 */
#header {
   width: 1920px;
  height: 100px;
  padding: 36px 466px 34px;
}

/* 내부 컨텐츠 정렬 */
.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
}

/* 로고 영역 */
.logo {
}

.logo img {
  width: 198px;
  height: 28px;
  margin: 0px 0 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}

.nav-menu a {
  text-decoration: none;
}

.a {
  width: 79px;
  height: 22px;
  margin: 3px 54px 5px;
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #595959;
}

.b {
  width: 55px;
  height: 22px;
  margin: 3px 54px 5px;
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #595959;
}

.c {
  width: 75px;
  height: 22px;
  margin: 3px 201px 5px 54px;
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #595959;
}

.nav-menu a.active {
    width: 102px;
  height: 22px;
    font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #3fa9f5;
  font-weight: bold;
}

/* 사용자 영역 */
.user-area {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #ffffff;
}

.logIn-btn {
  width: 100px;
  height: 30px;
    display: flex;
    background-color: #16284d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

span {
  width: 55px;
  height: 22px;
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.logIn-btn:hover {
    background-color: #e3eefe;
}
